:root {
  --primary-color-1: #54478f;
  --primary-color-2: #272142;
  --font-color-dark-1: #0a0911;
  --font-color-dark-2: #44434a;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200 to 800;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  color: var(--font-color-dark-2);
}

h1,
h2,
h3,
h4 {
  color: var(--font-color-dark-1);
}

h1 {
  font-size: 56px;
  text-align: center;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 20px;
  padding: 16px 0 12px 0;
  margin: 0;
}

.hero {
  margin-top: 74px;
}

.recipe-list,
.contact,
.about {
  margin: 40px 240px;
}

.contact-info div {
  margin: 0;
  padding: 0;
}

.navbar-brand img {
  width: 40px;
  margin: 4px 4px 4px 40px;
}

button.navbar-toggler {
  margin-right: 40px;
}

.hero img {
  border-radius: 0;
  max-height: 280px;

  width: 100vw;
  overflow: hidden;
}

.hero-content {
  position: relative;
  text-align: center;
  margin-top: -200px;
  color: #fff;
}

.hero-content h1 {
  color: #fff;
}
img {
  border-radius: 16px;
  padding: 0;
}

.home-recipe {
  margin: 0 0 24px 0;
}
.col-6 home-recipe img {
  max-width: 560px;
}

.recipe {
  margin: 120px 160px 80px 160px;
}

.about {
  align-items: center;
  margin: 40px auto;
}

.follow-me {
  align-items: center;
}

.fav-recipe {
  margin: 40px auto;
}
.fa-brands {
  width: 24px;
  margin: 8px;
  color: var(--primary-color-2);
}

@media (max-width: 1200px) {
  .recipe {
    margin: 120px 80px 80px 80px;
  }
}

@media (max-width: 806px) {
  .hero-content h1 {
    font-size: 40px;
  }

  .recipe {
    margin: 160px 24px 40px 24px;
  }

  footer {
    font-size: 14px;
  }
}

@media (max-width: 508px) {
  .recipe {
    margin: 80px 24px 40px 24px;
  }
}
